[submodule ".zsh/powerlevel10k"]
	path = .zsh/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions
[submodule "submodules/rtl8188fu"]
	path = submodules/rtl8188fu
	url = git@github.com:kelebek333/rtl8188fu
[submodule ".vim/plugged/fzf"]
	path = .vim/plugged/fzf
	url = git@github.com:junegunn/fzf
[submodule ".vim/plugged/gruvbox"]
	path = .vim/plugged/gruvbox
	url = git@github.com:gruvbox-community/gruvbox
[submodule ".vim/plugged/lightline.vim"]
	path = .vim/plugged/lightline.vim
	url = git@github.com:itchyny/lightline.vim
[submodule ".vim/plugged/fzf.vim"]
	path = .vim/plugged/fzf.vim
	url = git@github.com:junegunn/fzf.vim
[submodule ".vim/plugged/YouCompleteMe"]
	path = .vim/plugged/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe
[submodule ".vim/plugged/material.vim"]
	path = .vim/plugged/material.vim
	url = git@github.com:kaicataldo/material.vim
[submodule ".vim/plugged/dracula"]
	path = .vim/plugged/dracula
	url = git@github.com:dracula/vim
[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = git@github.com:preservim/nerdtree
[submodule ".vim/plugged/vimwiki"]
	path = .vim/plugged/vimwiki
	url = git@github.com:vimwiki/vimwiki
[submodule ".vim/plugged/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/plugged/vim-gitgutter"]
	path = .vim/plugged/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule ".vim/plugged/vim-commentary"]
	path = .vim/plugged/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule ".vim/plugged/emmet-vim"]
	path = .vim/plugged/emmet-vim
	url = git@github.com:mattn/emmet-vim
