[user]
	email = 76893756+SarveshMD@users.noreply.github.com
	name = Sarvesh MD
	signingkey = 63E89FD70B2F31DD
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[advice]
	detachedHead = false
[core]
	editor = vim
